$textColor: #F2F2F2;
$textColor2: #333333;
$palette1: #D96459;
$palette2: #F2AE72;
$palette3: #F2E394;
$palette4: #588C7E;
$palette5: #8C4646;
/*
$palette1: #00AEEF;
$palette2: #0064A9;
$palette3: #8A888C;
$palette4: #4B4A4C;
$palette5: #414042;*/